/* ======================== NAVBAR ====================*/
.page-name {
  font-size: 3.2rem;
  font-weight: 600;
}
.page-box {
  gap: 1.2rem;
}
.nav-btns li {
  list-style: none;
}
.nav-btn {
  gap: 2.4rem;
}
a {
  color: white;
  text-decoration: none;
  font-size: 2.4rem;
}

.nav-btns {
  display: grid;
  gap: 2.4rem;
}

.nav-icon {
  /* brilliance in action */
  filter: brightness(0) invert(1);
}

/* <img src="https://img.icons8.com/office/80/null/pixel-cat.png"/> */

/* ======================== MENU ====================*/
.page-menu {
  padding: 0 4.8rem;
  background-color: white;
}
.menu-row1 {
  padding: 1.4rem 0;
  display: flex;
  align-items: center;
}
.menu-row2 {
  padding-bottom: 1.8rem;
}
.search {
  flex-grow: 1;
}
.search-bar {
  border: none;
  border-radius: 100px;
  width: 100%;

  height: 3.6rem;
  background-color: var(--gray-color);
}

.search-icon {
  margin-right: 2.4rem;
}
.extra {
  gap: 4rem;
  margin-right: 2.4rem;
  margin-left: 10rem;
}
.profile-pic-sm {
  width: 5.4rem;
}

.profile a {
  gap: 3rem;
  /* margin-right: ; */
}
.profile-name-sm {
  font-size: 2.2rem;
  color: black;
  font-weight: 500;
}
.profile-pic-md {
  width: 7rem;
}
.welcome {
  gap: 2.4rem;
}

.welcome-hi,
.welcome-hi-sm {
  font-weight: 500;
  font-size: 2rem;
}
.profile-name-md {
  font-weight: 600;
  font-size: 2.4rem;
}
.menu-act-btns {
  gap: 2.4rem;
  margin-left: auto;
}
.menu-act-btn {
  border: none;
  background-color: var(--prim-color);
  padding: 1.2rem 2.8rem;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}
.icon--menu {
  width: 2.8rem;
}
/* ====================== CONTAINER ====================*/

.main-container {
  background-color: var(--gray-color);
  display: grid;
  grid-template-columns: 2.4fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 3.2rem;
  column-gap: 2.8rem;
  row-gap: 2rem;
}
.projects-container {
  grid-column: 1 / span 1;
  grid-row: 1 /-1;
}

.project-icon {
  width: 2.4rem;
  height: 2.4rem;
}
.heading-secondary {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.heading-tertiary {
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
}
.project-text {
  font-size: 1.4rem;
  line-height: 1.6;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* align-items: stretch; */
  column-gap: 2.8rem;
  row-gap: 2.8rem;
  align-items: stretch;
}
.project {
  background-color: white;
  border-radius: 8px;
  padding: 3.6rem 2.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.project::after {
  content: "";
  background-color: var(--accent-color);
  border-radius: 8px 0px 0px 8px;
  position: absolute;
  left: 0px;
  /* to span across parent coz no height */
  top: 0px;
  bottom: 0px;
  width: 0.8rem;
}

.project-actions {
  margin-top: auto;
  padding: 3.6rem 1.2rem 0 0;
  justify-content: end;
  display: flex;
  gap: 1.8rem;
}

.project-action {
  border: none;
  background-color: white;
}
/*---------------- announce section -------------*/
aside {
  display: grid;
  gap: 2.4rem;
}
.announces {
  padding: 1.2rem 3.6rem;
  background-color: white;
}
.announce {
  padding: 1.8rem 0;
}
.announce:not(:first-child) {
  border-top: 1px solid #ddd;
}
.heading-quaternary {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}
.announce-text {
  font-size: 1.3rem;
  line-height: 1.6;
}
/* ------------trending section----------- */

.trendings {
  background-color: white;
  padding: 2.4rem;
  display: grid;
  gap: 2rem;
}
.trending {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.trending-img {
  width: 4.7rem;
}
.trending-text {
  font-size: 1.4rem;
}
.trending-usr {
  font-weight: 500;
  margin-bottom: 0.6rem;
}

/* ------------mobile----------- */

.mob-act-btn {
  border: none;
  background-color: var(--prim-color);
  padding: 1rem 2rem;
  border-radius: 100px;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}
.mob-drop-btn {
  opacity: 0.1;
  width: 2.8rem;
  height: 2.8rem;
  display: none;
}
